.side-section {
    height: 100vw;
    background: rgb(255, 60, 0) ;
    left: 0;
    position: fixed;
    top: 60px;
    width: 300px;
}

.orange-text {
    color: #DA562D;
}


.side-nav-content {
    list-style: none;
    text-decoration: none;
    line-height: 3.2;
}

.side-nav-content li {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #f3f3f3;
}

.side-nav-content li:hover {
    background: #4d4c4c;
}


.main-section {
    position: relative;
    z-index: -1;
    left: 290px;
    margin-top: -10px;
    padding: 50px;
    margin-right: 250px;    
}

.staff-image {
    width: 150px;
    height: 150px;
}

.dropdown-custom {
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 865px) {

    .side-section {
        display: absolute;
        width: 100vw;
        height: auto;
        transition: 0.5s ease-out;
    }
    .main-section {
        left: 0;
        margin-top: 130px;
        padding: 10px;
        margin-right: 0px;  
    }
    .staff-image {
        width: 100px;
        height: 100px;
    }
    
    .dropdown-custom {
        display: block;
    }

    .side-nav-content {
        display: none;
        padding-right: 20px;
    }

    .side-nav-content li{
        font-size: 18px;
    }

}

.d-none-custom{
    display: block !important;
}
